{% extends 'auth_system/base.html' %}

{% block content %}
  <div class="container">
    <h2>HOME</h2>
    {{ userStatus }}<br>

    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{% url 'public_page' %}"><button type="button" class="btn btn-primary">Udostępnione</button></a>
      <a href="{% url 'private_page' %}"><button type="button" class="btn btn-success">Prywatne</button></a>
      <a href="{% url 'privateclass_page' %}"><button type="button" class="btn btn-warning">Private Class</button></a>
    </div>

  </div>
{% endblock %}