{% extends 'auth_system/base.html' %}

{% block content %}
  <div class="container">
    <h2>LOGIN</h2><br>

    {% if error %}
      <div class="alert alert-danger">
        {{ error }}<br>
      </div>
    {% endif %}
    {% if next %}
      <div class="alert alert-warning">
        {{ next }}<br>
      </div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      Nazwa użytkownika:<br>
      <input type="text" name="username"><br><br>
      Hasło:<br>
      <input type="password" name="password"><br><br>

      {% if nextURL %}
        <input type="hidden" name="redir" value="{{ nextURL }}">
      {% endif %}

      <input class="btn btn-primary" type="submit" value="Zaloguj">
    </form>
  </div>
{% endblock %}